DB_URL=jdbc:mysql://localhost:3306/ms_user?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=master3226
JWT_SECRET=D0y1K8qrMd6fqX0GzTsxwXZafQmpkb7L9JDy2g6241n


